AZURE_AI_AGENT_ENDPOINT= https://DOE-Demo.services.ai.azure.com/api/projects/DOE-Proj 
AZURE_AI_AGENT_SUBSCRIPTION_ID= 4e8456c8-3c51-4c76-9a7b-e27e0891182f
AZURE_AI_AGENT_RESOURCE_GROUP_NAME= DOE-Demo
AZURE_AI_AGENT_PROJECT_NAME= DOE-Demo
AZURE_AI_AGENT_MODEL_DEPLOYMENT_NAME= gpt-4o
REGULATIONS_GOV_API_KEY= TgV8pkhugXj5DwwhX4Tcr9oXPYej3kefRWIQZ6MM
