AZURE_AI_AGENT_ENDPOINT= https://DOE-Demo.services.ai.azure.com/api/projects/DOE-Proj 
AZURE_AI_AGENT_SUBSCRIPTION_ID= sGgcC9kmldsO8qIwF1oe8S3VTRKJ0XDAiJ3bPdrG
AZURE_AI_AGENT_RESOURCE_GROUP_NAME= DOE-Demo
AZURE_AI_AGENT_PROJECT_NAME= DOE-Demo
AZURE_AI_AGENT_MODEL_DEPLOYMENT_NAME= gpt-4o
REGULATIONS_GOV_API_KEY= TgV8pkhugXj5DwwhX4Tcr9oXPYej3kefRWIQZ6MM
