AZURE_AI_AGENT_ENDPOINT=<ai_foundry_project_endpoint>
AZURE_AI_AGENT_SUBSCRIPTION_ID=<azure_subscription_id>
AZURE_AI_AGENT_RESOURCE_GROUP_NAME=<azure_resource_group_name>
AZURE_AI_AGENT_PROJECT_NAME=<azure_project_name>
AZURE_AI_AGENT_MODEL_DEPLOYMENT_NAME=<azure_model_deployment_name>
REGULATIONS_GOV_API_KEY=<regulations_gov_api_key>